@model proyectokevin.Models.cliente

@{
    ViewBag.Title = "Nuevo Cliente";
}

<h2>Nuevo Cliente</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Registrar Cliente</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-2">Código: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cli_codigo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cli_codigo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Descripción: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cli_descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cli_descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nombres: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cli_nombres, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cli_nombres, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Apellidos: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cli_apellidos, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cli_apellidos, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
             <label class="control-label col-md-2">Teléfono: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cli_telefono, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cli_telefono, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">E-mail: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cli_email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cli_email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Dirección: </label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.cli_direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cli_direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Tipo Cliente: </label>
            <div class="col-md-10">
                @Html.DropDownList("tic_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.tic_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    <a href="@Url.Action("Index", "clientes")" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-chevron-left"></span> Regresar</a>

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
