@model IEnumerable<proyectokevin.Models.tipo_habitacion>

@{
    ViewBag.Title = "Tipos de Habitaciones";
}

<h2>Tipos de Habitación</h2>

<p>
    <a href="@Url.Action("Create", "tipo_habitacion")" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Nueva Habitación</a>
</p>
<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Descripción
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tih_codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tih_descripcion)
        </td>
        <td>
            <a href="@Url.Action("Edit", "tipo_habitacion", new { id=item.id })" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Editar</a>
            <a href="@Url.Action("Details", "tipo_habitacion", new { id=item.id })" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-eye-open"></span> Detalles</a>
            <a href="@Url.Action("Delete", "tipo_habitacion", new { id=item.id })" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Borrar</a>
        </td>
    </tr>
}

</table>
