@model proyectokevin.Models.tipo_cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tipo_cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tic_codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tic_codigo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tic_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tic_descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
