@model IEnumerable<proyectokevin.Models.habitacion>

@{
    ViewBag.Title = "Listado de Habitaciones";
}

<h2>Habitaciones</h2>

<p>
    <a href="@Url.Action("Create", "habitacions")" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Nueva Habitación</a>
</p>
<table class="table">
    <tr>
        <th>
            Código
        </th>
        <th>
            Descripción
        </th>
        <th>
            Foto
        </th>
        <th>
            Precio
        </th>
        <th>
            Tipo Habitación
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.hab_codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hab_descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hab_fotop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hab_precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_habitacion.tih_codigo)
        </td>
        <td>
            <a href="@Url.Action("Edit", "habitacions", new { id=item.id })" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span> Editar</a>
            <a href="@Url.Action("Details", "habitacions", new { id=item.id })" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-eye-open"></span> Detalles</a>
            <a href="@Url.Action("Delete", "habitacions", new { id=item.id })" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span> Borrar</a>
        </td>
    </tr>
}

</table>
